* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

body {
  background-color: #1a4a60cc;
}

.signup-box {
  position: absolute;
  display: flex;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #1f485b;
  border-radius: 15px;
  box-shadow: -2px 2px 13px 0px rgba(75, 100, 119, 0.69),
    2px 2px 16px 0px rgba(255, 255, 255, 0.15),
    2px 2px 13px 0px rgba(255, 255, 255, 0.37);
}

#logo {
  position: relative;
  top: 10px;
  left: 10px;
}

#about {
  position: relative;
  top: 25px;
  left: 25px;
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  letter-spacing: 1.44px;
}

#items {
  position: relative;
  left: 60px;
  top: -5px;
  transform: rotate(-5deg);
}

.right-side {
  background-color: #fff;
  border-radius: 15px;
  width: 430px;
}

#languages a {
  color: #000;
  font-size: 8px;
  font-weight: 400;
  position: relative;
  top: 14px;
  left: 358px;
}

#languages i {
  margin-left: 5px;
}

h1 {
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 0.88px;
  position: relative;
  top: 70px;
  left: 62px;
}

.signupgoogle {
  position: relative;
  top: 77px;
  left: 80px;
}

#google {
  position: relative;
  top: 16px;
  left: -18px;
}

#googletext {
  color: #000;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1.04px;
}

.signupfacebook {
  position: relative;
  top: 47px;
  left: 250px;
}

#facebook {
  position: relative;
  top: 16px;
  left: -18px;
}

#facebooktext {
  color: #000;
  font-size: 10px;
  font-weight: 300;
  letter-spacing: 1.04px;
}

#or-text {
  text-align: center;
  color: #cdcaca;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.77px;
  position: relative;
  top: 90px;
  left: -10px;
}

form {
  text-align: center;
  margin-top: 70px;
}

input {
  width: 270px;
  border: none;
  border-bottom: 1px solid #dbdbdb;
  margin-top: 30px;

  padding-block: 10px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.61px;
}

input::placeholder {
  color: #bebcbc;
}

.create-btn {
  margin-top: 15px;
  padding: 6px 85px;
  background-color: #1f485b;
  color: #fff;
  font-size: 10px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.create-btn:hover {
  background-color: #1a4a60cc;
  transition: 0.7s;
}

.bottomtext {
  color: #bebcbc;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.64px;
  position: relative;
  left: 83px;
  margin-top: 15px;
}

.bottomtext a {
  color: #1f485b;
  font-weight: 600;
}
